elm-stuff

__pycache__
*.pyc

instance/

*.egg-info/
serve_app
serve_static
static_files

*.db
rdc_website/static/*
rdc_website/static_pages/*
!rdc_website/static/images/
result

ui/index.html # accidental default gen
*.log
.elm-pages
.env.dev
pdfs/
data/**/*