elm-stuff

__pycache__
*.pyc

instance/

*.egg-info/
serve_app
serve_static
static_files

*.db
eviction_tracker/static/*
eviction_tracker/static_pages/*
!eviction_tracker/static/images/
result

ui/index.html # accidental default gen
*.log
.elm-pages
.env.dev
pdfs/