<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Eviction Tracker</title>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body>
    <script>
        var env = "{{ env }}";
        var rollbarToken = "{{ rollbar_token }}";
        var storageKey = "store";
        var dimensions = { 'width': window.innerWidth, 'height': window.innerHeight };
        var urlParams = new URLSearchParams(window.location.search);
        var auth_token = urlParams.get('auth_token');
        if (auth_token) {
            localStorage.setItem(storageKey, JSON.stringify({ 'user': { 'authentication_token': auth_token } }));
        }
        var runtime = { 'environment': env, 'rollbarToken': rollbarToken };
        var flags = { 'window': dimensions, 'viewer': localStorage.getItem(storageKey), 'runtime': runtime };
        var app = Elm.Main.init({ flags: flags });

        app.ports.storeCache.subscribe(function (val) {

            if (val === null) {
                localStorage.removeItem(storageKey);
            } else {
                localStorage.setItem(storageKey, JSON.stringify(val));
            }

            // Report that the new session was stored successfully.
            setTimeout(function () { app.ports.onStoreChange.send(val); }, 0);
        });

        // Whenever localStorage changes in another tab, report it if necessary.
        window.addEventListener("storage", function (event) {
            if (event.storageArea === localStorage && event.key === storageKey) {
                app.ports.onStoreChange.send(event.newValue);
            }
        }, false);
    </script>
</body>

</html>