<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}Assets - HelloFlask{% endblock %}</title>
    {% block styles %}
    {% endblock %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
{% block scripts %}{% endblock %}
</body>
</html>
